<div class="toast-container">
  <div 
    *ngFor="let toast of toasts" 
    class="toast" 
    [ngClass]="'toast-' + toast.type"
    (click)="removeToast(toast.id)">
    <div class="toast-icon">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path [attr.d]="getIcon(toast.type)"/>
      </svg>
    </div>
    <span class="toast-message">{{ toast.message }}</span>
    <button class="toast-close" (click)="removeToast(toast.id); $event.stopPropagation()">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <line x1="18" y1="6" x2="6" y2="18"/>
        <line x1="6" y1="6" x2="18" y2="18"/>
      </svg>
    </button>
  </div>
</div>
